.spaceItem {
  &:last-child {
    border-bottom: none;
  }
}

.tabListItem {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 4px 6px;
  border-radius: 6px;
  transition: background-color 0.2s ease;

  .tabActions {
    display: none;
  }

  &:hover {
    background: var(--app-hover-bg);

    .tabActions {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.tabItemWrapper {
  flex-basis: 500px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  flex: 1;

  .favicon {
    width: 16px;
    height: 16px;
  }

  .tabTitle {
    max-width: 420px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.title {
  font-size: 18px;
}

.tabsWrapper {
  //padding: 16px 0;
}

.delTab {
  cursor: pointer;
  transition: color 0.2s ease;
  &:hover {
    color: #ff4d4f;
  }
}

.editTab {
  cursor: pointer;
  transition: color 0.2s ease;
  &:hover {
    color: var(--app-text);
  }
}

.spaceMoreActionWrapper {
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 50px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    &:hover {
     color: #da74e1;
    }
  }
}

.moreActionIcon {
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  //color: #a6a6a6;

  &:hover {
    //background: #ffdbfa;
  }
}
