.spaceItem {
  margin-bottom: 24px;
}
.tabListItem {
  display: flex;

  margin-bottom: 4px;
  padding: 4px;

  .tabActions {
    display: none;
  }

  &:hover {
    background: rgba(173, 216, 230, 0.2);

    .tabActions {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.tabItemWrapper {
  flex-basis: 500px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;

  .favicon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  .tabTitle {
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.title {
  font-size: 18px;
}

.tabsWrapper {
  //padding: 16px 0;
}

.delTab {
  cursor: pointer;
  :hover {
    color: #ff4d4f;
  }
}


.spaceMoreActionWrapper {
  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 50px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    &:hover {
     color: #da74e1;
    }
  }
}

.moreActionIcon {
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: #da74e1;

  &:hover {
    background: #ffdbfa;
  }
}
