.popoverTabListItem {
  cursor: pointer;
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;

  gap: 4px;

  &:hover {
    background: rgba(173, 216, 230, 0.2);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .favicon {
    width: 14px;
    height: 14px;
  }
}

.popoverTabListItemLeft {
  display: flex;
  gap: 4px;
  align-items: center;
}

.popoverTabListItemRight {
}

.popoverTabListItemSelected {
}

.addIconWrapper {
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  //color: #da74e1;


  &:hover {
  //background: #ffdbfa;
  }
}
