
.wrapper {
  height: 100vh;
  display: flex;
}

.leftTitle {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}

.leftSpaceWrapper {
  display: flex;
  flex-direction: column;
  //gap: 8px;
  font-size: 12px;
}

.leftSpaceItem {
  position: relative;
  font-size: 14px;
  margin-bottom: 4px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

.leftSpaceItemActive {
  font-weight: 600;
  color: #da74e1;
  background: #ffdbfa;
}

.leftPanel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  padding: 16px 8px;
  border-right: 1px solid #e0e0e0;
  overflow: scroll;
}

.rightPanel {
  margin-left: 150px;
  padding: 16px;
  flex: 1;
}
