.wrapper {
  height: 100vh;
  display: flex;
}

.leftTitle {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}

.leftSpaceWrapper {
  //display: flex;
  //flex-direction: column;
  //gap: 8px;
  font-size: 12px;

  /* 隐藏滚动条但允许滚动 */
  &::-webkit-scrollbar {
    display: none; /* 对于 Chrome, Safari 和 Opera */
  }

  -ms-overflow-style: none; /* 对于 IE 和 Edge */
  scrollbar-width: none; /* 对于 Firefox */
}

.leftSpaceItem {
  position: relative;
  font-size: 14px;
  margin-bottom: 4px;
  cursor: pointer;
  padding: 4px 0;
  border-radius: 4px;
  color: #9e9e9e;
}

.leftSpaceItemActive {
  font-weight: bold;
  color: #ffffff;
  //color: #da74e1;
  //background: #ffdbfa;
}

.leftPanel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  padding: 16px 12px;
  border-right: 1px solid #2d2d2d;
  overflow: scroll;
}

.rightPanel {
  margin-left: 150px;
  padding: 16px;
  flex: 1;
}
